.environment {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.environment:not(:last-child) {
    margin-bottom: 10px;
}

.environment input {
    width: 100%;
    height: 25px;
    border-radius: 3px;
    box-sizing: border-box;
}

.environment__name {
    grid-column: 1/5;
}