html, body, .container, iframe {
    height: 100%
}

.container {
    margin: 10px;
}

iframe {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
}

.navigation {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: inline-block;
}

.navigation__item {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.navigation__item:not(:last-child) {
    border-right: 1px solid #ccc;
}

.navigation__item input {
    display: inline;
}

.navigation__item--primary input {
    margin: 0;
}

.navigation__item--primary:hover {
    background-color: #ddd;
}

.navigation__item--primary.active {
    background-color: #ccc;
}

.navigation__item--secondary {
    background-color: cornflowerblue;
    color: white;
}

.navigation__item--secondary:hover {
    background-color: royalblue;
}

.navigation__item--secondary.active {
    background-color: dodgerblue;
}