.item {
    border: 1px solid black;
    max-width: 400px;
}

.item__header {
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: #E7E7E7;
}

.item__content {
    padding: 10px;
}

body {
    margin: 10px 0;
}